@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Catalina & Nicolás</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">


    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="~/assets/css/layerslider.min.css">
    <!-- jQuery DatePicker -->
    <link rel="stylesheet" href="~/assets/css/jquery.datetimepicker.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        .contenedor {
            position: relative;
            display: inline-block;
            width: 100%;
        }


        .centrado {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .final {
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .formulRespuesta {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .invitados {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .formulRespuesta h2 {
            font-family: 'Parisienne', cursive;
        }

        .formulRespuesta label, textarea {
            font-family: 'Parisienne', cursive;
            color: #000;
            font-weight: bold;
        }

        .btn-mapa {
            background-color: #82AD82;
            color: #fff;
        }

            .btn-mapa:hover {
                background-color: #AD8682;
                color: white;
            }
    </style>

</head>

<body class="home-five">
    <!--[if lte IE 9]>
          <p class="browserupgrade">Estás utilizando un navegador <strong>desactualizado</strong> Actualice su navegador para mejorar su experiencia y seguridad.</p>
    <![endif]-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancelar carga </button>
        <h2>Dale PLAY!!</h2>
        <audio id="player" autoplay loop controls>
            <source src="~/perfect.mp3" type="audio/mp3">
            <source src="~/perfect.ogg" type="audio/ogg">
        </audio>
        <div class="preloader-inner">
            <img src="~/heart.svg" vwidth="88px" height="108px" class="svg-icon" />
        </div>
    </div>
    <img src="~/img/homess.svg" width="100%">
    <img src="~/img/noscasamoss.svg" width="100%">
    <section class="hero-layout5 vs-hero-wrapper position-relative" style="padding-top: -40%;">
        <div class="vs-hero-carousel" data-height="1080" data-container="1900" data-slidertype="responsive" data-maxratio="3" style="padding-top: -50%;">
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/primera.png" class="ls-bg" alt="bg-image">
                <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:585px; left:1713px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="static:forever;">
                    <button data-change-slide="next" class="ls-arrow2 ls-custom-arrow"><i class="far fa-long-arrow-down"></i></button>
                </div>
                <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:267px; left:1713px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="static:forever;">
                    <button data-change-slide="prev" class="ls-arrow2 ls-custom-arrow"><i class="far fa-long-arrow-up"></i></button>
                </div>
                <div style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:375px; left:1736px; line-height:0px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="static:forever;"><a href="#" class="ls-custom-dot vertical"></a><a href="#" class="ls-custom-dot vertical"></a><a href="#" class="ls-custom-dot vertical"></a></div>
            </div>
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/8.png" class="ls-bg" alt="hero bg">
            </div>
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/4.png" class="ls-bg" alt="background">
            </div>
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/quinta.png" class="ls-bg" alt="background">
            </div>
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/segunda.png" class="ls-bg" alt="background">
            </div>
            <div class="ls-slide" data-ls="duration:3000; transition2d:5; kenburnsscale:1.2;">
                <img width="1920" height="1080" src="~/6.png" class="ls-bg" alt="background">
            </div>
        </div>
    </section>

    <section>
        <div class="contenedor">
            <img src="~/img/lugar.svg" style="text-align: center;" width="100%">
            <div class="centrado">
                <button class="btn btn-mapa" onclick="window.open('https://maps.app.goo.gl/yZCPp1hhnzaPSf46A')"><i class="fas fa-map-marker-alt"></i> VER MAPA</button>
            </div>
            <div class="final">
                <button class="btn btn-mapa" onclick="window.open('https://maps.app.goo.gl/uhygQGj9ohTLwFuV9')"><i class="fas fa-map-marker-alt"></i> VER MAPA</button>
            </div>
        </div>

        <div class="rectangulo">
            <p>"ASÍ QUE, NO SON YA MÁS DOS, SINO UNA SOLA CARNE; POR TANTO, LO QUE DIOS HA UNIDO, NO LO SEPARE EL HOMBRE" <span>S.Mateo 19:6</span></p>
        </div>

        <img src="~/img/code.svg" style="text-align: center;" width="100%">
        <div class="rectangulo">
            <p>NUESTRO MAYOR REGALO ES CONTAR CON TU PRESENCIA, PERO SI DESEAS HACERNOS UN OBSEQUIO, ESTAS SON NUESTRAS SUGERENCIAS:</p>
            <a href="https://club.noviosparis.cl/home/search-couple/18711702" target="_blank">
                <img src="~/img/novios.svg" width="150px" height="50px">
            </a>
        </div>

        <div class="contenedor">
            <img src="~/img/confirmacion.svg" style="text-align: center;" width="100%">
            <div class="formulRespuesta" id="formulRespuesta">
                <form data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <h2>Invitados</h2>

                            @if (ViewBag.Cantidad == 1)
                            {
                                <div>
                                    <input type="checkbox" id="primero" name="primero" value="@ViewBag.Primero" />
                                    <label for="primero">@ViewBag.Primero</label>
                                </div>
                            }
                            else if (ViewBag.Cantidad == 2)
                            {
                                <div>
                                    <input type="checkbox" id="primero" name="primero" value="@ViewBag.Primero" />
                                    <label for="primero">@ViewBag.Primero</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="segundo" name="segundo" value="@ViewBag.Segundo" />
                                    <label for="segundo">@ViewBag.Segundo</label>
                                </div>
                            }
                            else if (ViewBag.Cantidad == 3)
                            {
                                <div>
                                    <input type="checkbox" id="primero" name="primero" value="@ViewBag.Primero" />
                                    <label for="primero">@ViewBag.Primero</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="segundo" name="segundo" value="@ViewBag.Segundo" />
                                    <label for="segundo">@ViewBag.Segundo</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="tercero" name="tercero" value="@ViewBag.Tercero" />
                                    <label for="tercero">@ViewBag.Tercero</label>
                                </div>
                            }
                            else if (ViewBag.Cantidad == 4)
                            {
                                <div>
                                    <input type="checkbox" id="primero" name="primero" value="@ViewBag.Primero" />
                                    <label for="primero">@ViewBag.Primero</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="segundo" name="segundo" value="@ViewBag.Segundo" />
                                    <label for="segundo">@ViewBag.Segundo</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="tercero" name="tercero" value="@ViewBag.Tercero" />
                                    <label for="tercero">@ViewBag.Tercero</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="cuarto" name="cuarto" value="@ViewBag.Cuarto" />
                                    <label for="cuarto">@ViewBag.Cuarto</label>
                                </div>
                            }
                            else if (ViewBag.Cantidad == 6)
                            {
                                <div>
                                    <input type="checkbox" id="primero" name="primero" value="@ViewBag.Primero" />
                                    <label for="primero">@ViewBag.Primero</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="segundo" name="segundo" value="@ViewBag.Segundo" />
                                    <label for="segundo">@ViewBag.Segundo</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="tercero" name="tercero" value="@ViewBag.Tercero" />
                                    <label for="tercero">@ViewBag.Tercero</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="cuarto" name="cuarto" value="@ViewBag.Cuarto" />
                                    <label for="cuarto">@ViewBag.Cuarto</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="quinto" name="quinto" value="@ViewBag.Quinto" />
                                    <label for="quinto">@ViewBag.Quinto</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="sexto" name="sexto" value="@ViewBag.Sexto" />
                                    <label for="sexto">@ViewBag.Sexto</label>
                                </div>
                            }
                        </div>
                        <div class="col-xl-6 form-group">
                            <h2>Confirmar asistencia</h2>

                            <div>
                                <input type="radio" id="inputAsistire" name="inputConfirmacion" value="Asistire" />
                                <label for="inputAsistire">Asistiré</label>
                            </div>

                            <div>
                                <input type="radio" id="inputNoAsistire" name="inputConfirmacion" value="NoAsistire" />
                                <label for="inputNoAsistire">No podré asistir</label>
                            </div>
                        </div>
                        <div class="col-xl-6 form-group">
                            <textarea class="form-control  style2" id="inputMensaje" name="inputMensaje" cols="20" rows="4" aria-required="true" aria-invalid="false" placeholder="Mensaje"></textarea>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <div class="col-xl-12 text-center">
                            <button type="button" name="btnEnviar" onclick="myFunction()" class="vs-btn style2">Enviar<i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </section>
    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-bottom  style2"><i class="fas fa-arrow-alt-up"></i></a>
    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- <script src="assets/js/app.min.js"></script> -->
    <!-- Layerslider -->
    <script src="~/assets/js/layerslider.utils.js"></script>
    <script src="~/assets/js/layerslider.transitions.js"></script>
    <script src="~/assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- jQuery Datepicker -->
    <script src="~/assets/js/jquery.datetimepicker.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- Parallax Scroll -->
    <script src="~/assets/js/universal-parallax.min.js"></script>
    <!-- WOW Animation -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom Carousel -->
    <script src="~/assets/js/vscustom-carousel.min.js"></script>
    <!-- Main Js File -->
    <script src="~/assets/js/main.js"></script>

    <script>
        function myFunction() {
            var check1;
            var check2;
            var check3;
            var check4;
            var cant = "@ViewBag.Cantidad";
            let confir = $('input[name="inputConfirmacion"]:checked').val();

            if (@ViewBag.Cantidad == 1){
                check1 = $('input:checkbox[name="primero"]:checked').val();
            }
            else if (@ViewBag.Cantidad == 2){
                check1 = $('input:checkbox[name="primero"]:checked').val();
                check2 = $('input:checkbox[name="segundo"]:checked').val();
            }
            else if (@ViewBag.Cantidad == 3){
                check1 = $('input:checkbox[name="primero"]:checked').val();
                check2 = $('input:checkbox[name="segundo"]:checked').val();
                check3 = $('input:checkbox[name="tercero"]:checked').val();
            }
            else if (@ViewBag.Cantidad == 4){
                check1 = $('input:checkbox[name="primero"]:checked').val();
                check2 = $('input:checkbox[name="segundo"]:checked').val();
                check3 = $('input:checkbox[name="tercero"]:checked').val();
                check4 = $('input:checkbox[name="cuarto"]:checked').val();
            }

            $.ajax({
                url: '@Url.Action("Validar","Home")',
                data: { mensaje: $("#inputMensaje").val(), confirmacion: confir, primero: check1, segundo: check2, tercero: check3, cuarto: check4, cantidad: cant },
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.data == true) {
                        tpl = '<div class="alert alert-success" role="alert">Gracias por confirmar! ' + data.responseText + '</div>';
                        $('#formulRespuesta').html(tpl)
                    }
                    else {
                        tpl = '<div class="alert alert-success" role="alert">Gracias por confirmar! ' + data.responseText + '</div>';
                        $('#formulRespuesta').html(tpl)
                    }
                },
                error: function (data) {
                    tpl = '<div class="alert alert-danger" role="alert">Error al enviar confirmación, favor comunicarte al WhatsApp de los Novios.</div>';
                    $('#formulRespuesta').html(tpl)
                }
            });
        };
    </script>
</body>

</html>